html, :root, body {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  background-color: whitesmoke;
  margin: 0;
  max-width: 100%;
  overflow-x: hidden;
  background-color: rgba(29,188,217,255);
}

p {
  margin: 0;
}

.app-box {
  height: 100%;
  background-color: whitesmoke;
  display: grid;
  grid-template:
            "a a a" 150px
            "b c c" 1fr
            "b c c" / 1fr 1fr 1fr;
}

.app-box>* {
  border: 1px solid black;
}

.app-box>h1 {
  box-sizing: border-box;
  grid-area: a;
  margin: 0;
  padding-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  width: 33.33%;
  width: calc(1px + (100% / 3));
  border-right: 2px solid black;
  border-bottom: 0px solid whitesmoke;
}

.app-box>div:first-of-type {
  grid-area: b;
  box-sizing: border-box;
  border-top: 2px solid black;
}

.app-box>div:last-child {
  grid-area: c;
  border-top: 2px solid black;
}

.app-box>div {
  display: grid;
  grid-template:
            "a" 150px
            "b" 1fr;
}

.list-controls {
  grid-area: a;
  display: grid;
  grid-template:
            "a a a" 65px
            "b b b" 1fr / 1fr 1fr 1fr;
}

.list-controls>h2 {
  grid-area: a;
  text-align: center;
}

.list-controls>div {
  grid-area: b;
  display: flex;
  flex-direction: column;
  row-gap: 7px;
}

button {
  align-self: center;
}

.list-window {
  grid-area: b;
  margin: 0px 20px 30px;
  border: 1px solid black;
  box-shadow: 3px 5px 5px gray inset;
  background-color: white;
  padding-left: 5px;
  padding-right: 5px;
}

[type="checkbox"] {
  opacity: 0;
}

[type="checkbox"] + label {
  position: relative;
  cursor: pointer;
  display: inline-block;
  color: black;
  padding-left: 25px;
}

[type="checkbox"] + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 18px;
  width: 18px;
  outline: 2px solid darkgray;
  background: whitesmoke;
}

[type="checkbox"]:checked + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 18px;
  width: 18px;
  outline: 2px solid rgba(0,128,0,255);
  background: whitesmoke;
}

[type="checkbox"]:checked+ label::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 18px;
  width: 18px;
  outline: 2px solid rgba(0,128,0,255);
  background-image: url(./assets/checkmark.png);
  background-size: contain;
  transform: scale(1);
  opacity: 1;
  transition: all .3s ease;
}

[type="checkbox"]:not(:checked)+ label::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 18px;
  width: 18px;
  background-image: url(./assets/checkmark.png);
  background-size: contain;
  transform: scale(0);
  opacity: 0;
}

.task-modal {
  position: fixed;
  top: 0;
  left: 0 ;
  right: 0;
  bottom: 0;
  background-color: gray;
  opacity: 0;
  z-index: -1;
  transition: all 0.3 ease;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.task-modal.open {
  position: fixed;
  top: 0;
  left: 0 ;
  right: 0;
  bottom: 0;
  background-color: rgb(128, 128, 128, 0.5);
  opacity: 1;
  z-index: 999;
}

.form-container {
  box-sizing: border-box;
  height: 800px;
  width: 800px;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.project-modal>.form-container {
  height: 200px;
  width: 400px;
}

.list-project-form>p {
  width: fit-content;
  font-weight: 600;
  font-size: 18px;
  padding-inline-start: 32px;
}

.form-container>h2 {
  margin-right: auto;
  margin-left: 35px;
  padding-top: 20px;
}

.form-container>p {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

form>div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.tpriority>fieldset {
  width: 300px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  align-self: center;
  justify-self: center;
  background-color: white;
  margin-right: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 7px;
}

#task-form {
  display: grid;
  grid-template:
            "a a d d" 130px
            "e e c c" 100px
            "f f c c" 100px
            "b b c c" / 1fr 1fr 1fr 1fr;
  column-gap: 10px;
  row-gap: 10px;
  margin-top: 20px;
}

#task-form>* {
  box-sizing: border-box;
  border: 1px solid lightgray;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
}

#task-form>*>label {
  margin-bottom: 7px;
  margin-right: auto;
}

.tname {
  grid-area: a;
  padding-top: 15px;
}

.tname>input {
  margin-right: auto;
}

.tdescription {
  grid-area: b;
  padding-top: 25px;
}

.tdescription>label {
  align-self: center;
}

.tnotes {
  grid-area: c;
  padding-top: 15px;
  padding-bottom: 15px;
}

.tnotes>input {
  width: 90%;
}

.tpriority {
  grid-area: d;
  margin-right: auto;
  width: 100%;
  height: 100%;
  padding-top: 15px;
}

.tduedate {
  grid-area: e;
  padding-top: 15px;
}

.tstatus {
  grid-area: f;
  padding-top: 15px;
}

.tstatus>label {
  padding-left: 0px;
}

.tstatus>input {
  height: 20px;
}

.tstatus>input + label::before {
  margin-left: 115px;
}

.tstatus>input:checked+ label::after {
  margin-left: 115px;
}

.tstatus>input:not(:checked)+ label::after{
  margin-left: 115px;
}

.tduedate>input {
  width: 120px;
  margin-right: auto;
}

#task-note-list-ul {
  margin-top: 15px;
  height: 300px;
  width: 343px;
  box-sizing: border-box;
  max-height: 300px;
  background-color: lightgray;
  border: 2px solid black;
  border-radius: 3px;
  overflow-y: scroll;
  padding-left: 20px;
}

#task-note-list-ul>li, .drop-down-section>li {
  padding-inline-start: 10px;
}

div.list-item-drop-down {
  grid-area: c;
  border: 1px solid grey;
  grid-template: "a b" 1fr / 1fr 1fr;
  width: 100%;
}

.list-item-drop-down>p {
  grid-area: a;
  padding-left: 17px;
  padding-right: 17px;
  overflow-y: scroll;
}

.list-item-drop-down>ul {
  grid-area: b;
  overflow-y: scroll;
  border-left: 1px solid grey;
  height: 95px;
  padding-left: 20px;
}

.list-item-drop-down>ul::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

.list-item-drop-down>ul::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

.list-item-drop-down>ul>li>form>p {
  text-align: start;
}

#priority-list-ul {
  width: 120px;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-inline-start: 65px;
  margin-top: 5px;
  margin-bottom: 5px;
}

#priority-list-ul>li {
  display: flex;
  justify-content: space-between;
  padding-right: 0;
  width: 100%;
}

#priority-list-ul>li>label {
  flex-grow: 1;
}

#priority-list-ul>li>input {
  flex-shrink: 0;
}

#priority-list-ul>li::marker {
  flex-shrink: 0;
}

li {
  word-wrap: break-word;
  padding-right: 20px;
}

.project-modal {
  position: fixed;
  top: 0;
  left: 0 ;
  right: 0;
  bottom: 0;
  padding-bottom: 300px;
  background-color: gray;
  opacity: 0;
  z-index: -1;
  transition: all 0.3 ease;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.project-modal.open {
  position: fixed;
  top: 0;
  left: 0 ;
  right: 0;
  bottom: 0;
  padding-bottom: 300px;
  background-color: rgb(128, 128, 128, 0.5);
  opacity: 1;
  z-index: 999;
}

.list-item-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-right: 0px;
  padding-left: 0px;
  background-color: whitesmoke;
}

div.button-box {
  display: flex;
  justify-content: center;
  column-gap: 9px;
  align-items: center;
  flex-direction: row;
}

.button-box>button {
  box-shadow: 1px 1px 1px black;
}

.project-list-view, .todo-list-view {
  padding-inline-start: 0px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  row-gap: 7px;
  padding-top: 5px;
}

.list-item-container {
  box-sizing: border-box;
  width: 100%;
  height: 100px;
  border: 2px solid black;
  padding-inline-start: 0px;
  display: grid;
  grid-template:  "a b" 100px
                  "c c" 100px / 1fr 1fr;;
}

.list-item-form {
  grid-area: a;
  padding-inline-start: 7px;
}

.listItemInfoContainer {
  grid-area: b;
  padding-right: 20px;
}

.listItemDropDown {
  height: 100%;
  grid-area: c;
}

.active-project, .active-task {
  background-color: antiquewhite;
}

ul {
  margin-block-start: 0px;
  margin-block-end: 0px;
  padding-inline-start: 0px;
}

form.checkbox-element {
  box-sizing: border-box;
  width: fit-content;
}

li {
  list-style-type: disc;
}